.chat-screen{
    flex-basis: 70%;
    height: 100%;
    background-color: rgb(233, 233, 233);
}
.toggle-display{
    display:none;
}
@media screen and (max-width:768px) {
    .chat-screen{
        margin-left: 15%;
        flex-basis: 85%;
    }

    .chat-header-name{
        padding: 0 1rem !important;
    }
    .chat-header{
        height: 8% !important;
    }
}
@media screen and (max-width:430px) {
    .chat-screen{
        margin-left: 25%;
        flex-basis: 75%;
    }
    .text-bar:placeholder-shown{
        padding: 5% !important;
        font-size: .7rem;
    }
}

.emoji{
    display: none;
}
.chat-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.889);
}
.chat-user{
    width: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* gap: 2%; */
} 
.chat-info{
    padding: 0 1rem;
}
.header-icons{
    /* border: 1px solid black; */
    width: fit-content;
}

/* Chat-BOdy */

.chat-body{
    /* for scrollin to bottom on new chat by default */
    display: flex;
    flex-direction: column-reverse; 
    overflow-y: auto;
    
    width: 100%;
    height: 80%;
    padding: 5%;
    background: linear-gradient(rgba(215, 231, 188, 0.537),rgba(255, 255, 255, 0.455)),url(/src/images/wapp-background.png);
}
.chat-messages{

    margin: 1rem 0;
    width: fit-content;
    width: 30%;
    /* width: fit-content; */
    background-color:  rgba(233, 233, 233, 0.707);
    background-color:  rgba(183, 183, 183, 0.24);
    border-radius: 11px;
    border-top-left-radius: 0;
    outline: .5px solid rgba(0, 0, 0, 0.026);
    padding: 1%;
    
}
.message-info{
    width: 100%;
    display: flex;
    /* text-align: right; */
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}
.message-info span{
    /* width: 20%; */
    /* height: 10%; */
    font-size: .7rem;
    /* padding-right: 1%; */
}
.message-time{
    font-size: .7em;
}

.chat-messagesUser{
    width: 40%;
    width: fit-content;
    /* text-align: right; */
    background-color: #d6f8c6dc !important;
    margin-left: auto;
    border-radius: 11px;
    border-top-right-radius: 0;
}


/* Chat-Footer */
.chat-footer{
    display: flex;
    align-items: center;
    
    height: 10%;
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.889);
}
.footer-message{
    width: 85%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    outline: 0.5px solid rgba(0, 0, 0, 0.036);
}
.footer-message button{
    display: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}
.text-bar{
    width: 100%;
    height: 100%;
    padding: 2%;
    border: none;
    border-radius: 7px;
    background-color: rgb(233, 233, 233);
    
}

