.side-panel{
    flex-basis: 30%;
    min-height: 100%;
    background-color: rgb(233, 233, 233);
    border-right: .5px solid rgba(158, 159, 155, 0.604);
    z-index: 1000;
    transition: all 2s ease;
}
.toggle-panel{
    display: none;
}
.responsive-icon{
    visibility: visible;
}
@media screen and (max-width:768px) {
    .side-panel{
        /* display: none; */
        /* flex-basis: 10%; */
        /* width: 40%;    */
        position: absolute;
    }
    .toggle-panel{
        display: inline-block;
    }
}

.panel-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.889);
}
.panel-search{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.search-bar{
    padding:2%;
    margin:0 2%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.889);
    display: flex;
    align-items: center;
    width: 80%;

    /* width: fit-content; */
    /* margin-left: 2%; */
}
@media  screen and (max-width:768px) {
    .search-bar{
        width: fit-content;
    }
}
.search-bar input{
    width: 80%;
    border: none;
    outline: none;
    padding-left: 2%;
}
